section {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  color: red;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 1rem;
  padding: 2rem;
  width: calc(25% - 2rem);
}
ul :hover{
  background-color: blanchedalmond;
  font-size: x-large;
  font-weight: bolder;
  
}

.card__name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.card__name span {
  color: red;
  font-size: small;
}

.card__total {
  font-size: 60rem;
  font-weight: bold;
  text-align: center;
  font-weight: bolder;
  margin-left: 20px;
}

.card__total:before {
  content: "Total: ";
  display: block;
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
